.checkout-section
{
    background-color: black;
    background-image:linear-gradient(#00000085,#00000085), url(../images/banner1.jpg);
    background-size:cover;
    background-repeat: no-repeat;

}
#main-form1 
{
  backdrop-filter: blur(5px);
  border-radius: 10px;
  
   
}
#login-form1 ::placeholder
{
  color: #ffffff;
}
#login-form1  .form-control {
  border-color: #ffffff;
  background: #0000000a;
  
  height: 40px;
}
#login-form1
{
  padding: 5%;
}
#login-form
{
    padding: 4%;
}
.forgot-password,.link .title-register
{
    color:#30C7CF !important;
}
.text-orginal
{
    color:#30C7CF !important;
}
.text-orginal:hover
{
    color:#ffff !important;
}
/* register form */
.checkout-section-1
{
    background-color: black;
    background-image:linear-gradient(#00000085,#00000085), url(../images/banner3.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.control-label{
    color:#ffffff;
}
.main-form-1 {
  backdrop-filter: blur(5px);
  border-radius: 10px;
 
}
#register-details
{
    padding: 5%;
}
#register-details .form-control {
  border-color: #ffffff;
  background: #0000000a;
  
  height: 40px;
}
#register-details ::placeholder
{
  color: #ffffff;
}
.select-dropdown .ui-selectmenu-button span.ui-selectmenu-text {
  padding: 0px;
  font-weight: 400;
  color: #ffff !important;
}
/* product list */
.pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
  }
  
  .pagination-number,
  .pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius:100%;
    background: #d32821;
    color:#ffffff;
  }
  
  .pagination-number:hover,
  .pagination-button:not(.disabled):hover {
    background: #154494;
    color:#ffffff;
  }
  
  .pagination-number.active {
    color: #fff;
    background: #0085b6;
  }
  .hidden {
    display: none;
  }  
  .pagination-row
  {
    margin-top: 15%;
  }
  #old-eye-password,#same-eye-password,#re-eye-password
  {
    display: none;
  }
  .input-text
  {
    background: #fff;
    padding: 8px 15px;
   
    border: 1px solid #eeeeee;
    min-height: 40px;
  }
  /* checkout */
  #order_overview_content,#payment_content,#order_complete_content
  {
    display: none;
  }
  .active
  {
   color: #d32821 !important;
  }
  .quality_value {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    width: 44px;
    padding: 5px 0;
    float: left;
    text-align: center;
    margin: 0 5px;
}
.navbar-brand > img
{
  width: 40%;
}
.level a
{
 color: #ffffff;
}
.detail-inner-left ul li a
{
  color:#154494 !important;
}
.pro-wishlist-icon:hover
{
  background-color:#154494 !important;
}